.root {
  -fx-background-color: #99ff66;
}
.glassblue {
  -fx-background-color: rgba(0, 100, 100, 0.5);
  -fx-background-radius: 10;
}

.glassdark {
  -fx-background-color: rgba(75, 75, 75, 0.5);
  -fx-background-radius: 10;
}

.glasswhite {
  -fx-background-color: rgba(240, 240, 240, 0.7);
  -fx-background-radius: 10;
}

.glassblack {
  -fx-background-color: rgba(0, 0, 0, 0.7);
  -fx-background-radius: 10;
}

.glassgray {
  -fx-background-color: rgba(135, 135, 135, 0.63);
  -fx-background-radius: 10;
}

.glassgreen {
  -fx-background-color: rgba(70, 194, 60, .65 );
  -fx-background-radius: 10;
}

.button {
  -fx-focus-color: lightblue;
  -fx-background-insets: 0, 1, 2;
  -fx-focus-radius: 5px,4px,3px;
}
.searchHeader {
-fx-text-fill: white;
  -fx-font-size: 18px;
}

.label {
  -fx-font-weight: bold;
}

.image-view {
  -fx-border-color: black;
  -fx-border-style: solid;
  -fx-border-width: 50;
}